.title {
  font-size: 30px;
  margin-bottom: 20px;
}
.button {
  /* margin-left: 10px; */
  margin-bottom: 20px;
  border-radius: 4px;
  border-color: transparent;
  padding: 5px;
  width: 100px;
  cursor: pointer;

  /* &:focus, */
  &:hover {
    background-color: blue;
    color: white;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
